<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="main-post md-mb50">
        <div class="item pb-60">
          <div class="main-img mt-40 mb-40 radius-5">
            <img src="assets/img/slider/bg5.jpg" alt="" />
          </div>
          <div class="cont">
            <div class="title">
              <h3 class="fw-800">THE ENCORE By Sajjan Raj Vaidhya</h3>
            </div>
            <div class="info flex mt-15">
              <div class="author mr-30 opacity-8 fz-14">
                <span><i class="fas fa-map-marker"></i> Purple Haze</span>
              </div>

              <div class="date fz-14">
                <span><i class="fas fa-calendar"></i> March 25th, 2022</span>
              </div>
            </div>
          </div>

          <div class="text mt-20">
            <p>
              Apple currently sells only one MacBook Air size. The laptop comes
              in a 13-inch version that matches the pre-2021 13-inch MacBook Pro
              size. Previously, Apple sold an 11-inch MacBook Air, but the
              company discontinued that model in 2017.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="side-bar mt-40">
        <div class="widget catogry">
          <h6 class="title-widget">Your Tickets</h6>
          <form>
            <div class="mb-1">
              <label class="form-label">Ticket Type</label>
              <select
                class="form-select"
                formControlName="ticketType"
                aria-label="Default select example"
              >
                <option selected="">Phase I</option>
                <option value="3">Phase II</option>
              </select>
            </div>

            <div class="mb13">
              <label class="form-label">No. Of Tickets</label>
              <select
                (change)="changeTicketNo($event)"
                class="form-select"
                formControlName="noOfTickets"
              >
                <option *ngFor="let item of ticket_list"  [value]="item.id">{{item.text}}</option>
              </select>
            </div>
            <h6 class="mt-3">Total Amt. Rs.{{ total_amount }}</h6>

            <div class="text-center">
              <a
                href=""
                class="butn butn-sm gr-sunrise-bg mt-3 radius-30 text-light margin-rl-15"
              >
                <span class="text slide-up">Proceed</span>
                <span class="text slide-down">Proceed</span>
              </a>
            </div>
          </form>

          <form>
            <div class="mb-2">
              <label for="" class="form-label">Booked By</label>
              <input
                type="email"
                class="form-control"
                id=""
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-2">
              <label for="" class="form-label">Contact No.</label>
              <input
                type="email"
                class="form-control"
                id=""
                aria-describedby="emailHelp"
              />
            </div>

            <div class="mb-2">
              <label for="" class="form-label">Email Address</label>
              <input
                type="email"
                class="form-control"
                id=""
                aria-describedby="emailHelp"
              />
            </div>
            <p>*Note - Your tickets will be sent in this email.</p>

            <div class="text-center">
              <a
                href=""
                class="butn butn-sm gr-sunrise-bg mt-3 radius-30 text-light margin-rl-15"
              >
                <span class="text slide-up">Purchase</span>
                <span class="text slide-down">Purchase</span>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
